.header{
display: flex;
flex-direction: row;
align-items: stretch;
width: 100%; 
position: fixed;
padding-top: 3rem;
padding-left: 16rem;
z-index: 1;
background-color: rgb(255, 255, 255);
color: black; 


}

.linea-vertical {
    
border-right: 1px solid #c3c3c3;
height: 100px;
margin: 0 10px;

}


.history-img{
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    

    
}

.sibar:hover{
    color:rgb(117, 117, 118);
    font-weight: bold;
}



.history-img img{
 width: 80%;
 height: 80%;
 border-radius:20rem ;
 background: conic-gradient(from 0deg, #d34c4cd2, #fbff00dd); /* Define el degradado con conic-gradient, ajusta los colores según tus preferencias */
  border: 2px solid transparent; /* Añade un borde transparente para que el degradado se muestre solo en el borde */
}

.my-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 40px; /* Ajusta el tamaño según tus preferencias */
    height: 40px; /* Ajusta el tamaño según tus preferencias */
    background-color: rgb(209, 212, 212);
    border-radius: 50%; /* Hace que el botón sea redondo */

}