 
.header{
display: flex;
padding-top: 3rem;
color: black; 
justify-content: center;
}

.stories-list{
    display: flex;
    color: black; 
    justify-content: center;
    position: relative;
}

.history-img{
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
   
}


.history-img img{
 width: 80%;
 height: 80%;
 border-radius:20rem ;
 background: conic-gradient(from 0deg, #d34c4cd2, #fbff00dd); 
  border: 2px solid transparent; 
}

.stories-arrow-right {
    position: absolute;
    right: 5%;
    top: 25%;
}


.short-name-story{
    display: inline-block;
    width: 70px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 0.2rem;
}